/*
Theme Name: Silver Mag Pro
Description: Silver Mag Pro is a Premium style Multipurpose WordPress theme. It is fully responsive  WordPress Theme with Magazine style layout and design. You can easily customize the theme with ThemeOptions Panel. It has 3 columns, unlimited homepage Magazine style Widgetized sections. Theme has come with WP Nav menus, Widgetized sidebars and 7 Popular Widgets including stylish social Icons widget. Theme is built on advanced solid framework which includes lots of advanced features and functions. **You can use this theme with 3 or more different styles by customizing it**

Author: ThemePacific
Author URI: http://themepacific.com
Theme URI: http://demo.themepacific.com/silvermag-pro/
License: GNU General Public License v2
License URI: http://www.gnu.org/licenses/gpl-2.0.html
Version: 3.0.0
Tags: white, black, three-columns, right-sidebar, flexible-width, threaded-comments, blue, custom-menu, featured-images, gray, light, theme-options, translation-ready
*/

/* =============================================================================
Reset / Display Role 
========================================================================== */


/* #Reset & Basics (Inspired by E. Meyers) */

html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
margin: 0;
padding: 0;
border: 0;
font-size: 100%;
font: inherit;
vertical-align: baseline; }
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
display: block; }
body {
line-height: 1; }
ol, ul { list-style: none;}
blockquote, q {
quotes: none; }
blockquote:before, blockquote:after,
q:before, q:after {
content: '';
content: none; }
blockquote {margin: 0 0 38px 0;padding: 20px 20px 0 20px;background: #FAFAFA;border-right: 1px solid #E5E5E5;border-bottom: 1px solid #E5E5E5;border-left: 8px solid #E5E5E5;}
table { border-collapse: separate; border-spacing: 0; margin-bottom:10px;}
caption, th, td { text-align: left; font-weight: normal; }

/* =============================================================================
General Styles
========================================================================== */

/* #Basic Styles */
body { font-family: "Open sans",Helvetica,Arial,sans-serif;font-size: 12px;color: #666;-webkit-text-size-adjust: 100%;line-height: 18.5px;}
html{ min-height: 100%; }

/* #Typography */
h1, h2, h3, h4, h5, h6 {color: #666;line-height:1.27;font-family: "PT Sans",Helvetica,Arial,sans-serif;font-weight: normal; }
h1{font-size:1.8em}h2{font-size:1.7em}h3{font-size:1.55em}h4{font-size:1.4em}h5{font-size:1.25em}h6{font-size:1.1em}
h1 a, h2 a, h3 a, h4 a, h5 a, h6 a { font-weight: inherit; }

p img { margin: 0; }

i, cite, em, var, address, dfn {font-style: italic;}
strong { font-weight: bold; }
small,sub,sup { font-size: 80%; }
sub {vertical-align: baseline;position: relative;top: 0.3em;}
sup {vertical-align: baseline;position: relative;bottom: 0.3em;}
code {font: .9em Monaco,monospace,Courier,"Courier New";}
acronym {text-transform: uppercase;border-bottom: 1px dashed #666;cursor: help;}
pre {overflow: auto;font: .9em Monaco,monospace,Courier,"Courier New";line-height: 20px;margin-bottom: 20px;padding: 10px;}

/*	#Blockquotes  */
blockquote, blockquote p { font-size: 17px; line-height: 24px; color: #777; font-style: italic; }
blockquote { margin: 0 0 20px; padding: 9px 20px 0 19px;   }
blockquote cite { display: block; font-size: 12px; color: #555; }
blockquote cite:before { content: "\2014 \0020"; }
blockquote cite a{ color: #555; }

hr { border: solid #ddd; border-width: 1px 0 0; clear: both; margin: 10px 0 30px; height: 0; }

/* #Links */
a{ color: inherit; text-decoration: none; outline: 0;-webkit-tap-highlight-color:#FFA602; }
a:hover{ color: inherit; }
p a { line-height: inherit; }
a {transition: all .2s linear; -o-transition: all .2s linear;-moz-transition: all .2s linear;-webkit-transition: all .2s linear;}


/* #Lists */

ol { list-style: decimal; }
ul.square { list-style: square outside; }
ul.circle { list-style: circle outside; }
ul.disc { list-style: disc outside; }
ul ul, ul ol,
ol ol, ol ul { margin: 4px 0 5px 30px;  }

li { line-height: 18px; }
ul.large li { line-height: 21px; }
li p { line-height: 21px; }
dl {margin: 0 0 20px 5px;}
dl dt {font-weight: bold;margin: 10px 0 0 0;}
dl dd {margin: 5px 0 0 1.5em;}
dl dd {margin: 5px 0 0 1.5em;}
.clearfix:after {
visibility: hidden;
display: block;
font-size: 0;
content: " ";
clear: both;
height: 0;
}
.clearfix { display: inline-block; }
* html .clearfix { height: 1%; }
.clearfix { display: block; }
.clearer {
clear: both;
display: block;
overflow: hidden;
visibility: hidden;
width: 0;
height: 0;
}
img {max-width: 100%;
height: auto;display:block;}

[class^="meta_"], [class*=" meta_"],[class^="icon-"], [class*="icon-"],.flex-direction-nav a ,.menu-item-has-children  a:after{
	font-family: 'themepacific';
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;

	/* Better Font Rendering =========== */
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}
/* =============================================================================
Structure
========================================================================== */

/* #tp-site-wrap */
body {
background: #222 url('images/bg/bg1.png');
}
#tp-site-wrap {
position: relative;
margin: 0 auto;
background:#fff;
-moz-box-shadow: 0 4px 10px rgba(0, 0, 0, .08);
box-shadow: 0 4px 10px rgba(0, 0, 0, .08);
-webkit-box-shadow: 0 4px 10px rgba(0, 0, 0, .08);
}
#tp-site-wrap-container{margin:0 25px;overflow:hidden;}
#tp-section-wrap  {position: relative;
background: #fff;margin-top: 30px;}
#tp-site-wrap,#footer-blocks {border-top: 4px solid #1D9BF3;}
#sidebar {
float:right;
border-left: 1px solid #DDD;
padding-left: 15px;
margin-left: -1px;
}
#sidebar-small{
 padding: 0 14px;
border-right: 1px solid #DDD;
border-left: 1px solid #DDD;
margin-left: -1px;
}
#tp-section-left {
border-right: 1px solid #DDD;
padding-right: 15px;
}
/* #Header */


#header {clear: both;margin: 0 auto;padding: 0;border-bottom: none!important;position: relative;z-index: 1;}
#head-content {margin: 0 auto;padding:20px 0; position:relative;min-height:90px;z-index:98;}
.head-strip{border-top:5px solid #B6B4B0;}
#logo {margin: 20px 10px 10px 5px;text-align:left;color:#555;float: left;}
#logo img{margin: 0 auto;display: block;}
#logo h1, #logo h2 {font-size: 32px;margin: 0 !important;line-height: 35px !important;}
#logo a {font-weight: 700;color: #333;padding: 0px;margin: 0px;text-decoration: none;}
#header-banner468{float: right;
border: 1px solid #F3F3F3;
position: relative;}

/* #categroy menu */

#catnav{
margin: 0;
font-size: 12px;
position: relative;
}
#catnav.primary {
height: 34px!important;
overflow: hidden;
border-bottom: 1px solid #DDD;
}
#catnav.secondary{
border-top: 2px solid #111;
}
#catnav.teritary {
    background: #1D9BF3;
}
#catnav.teritary ul li {
    border: none;
}
#catnav.teritary ul a{
    color:#fff;
    
}
#catnav ul {
margin: 0 auto;
padding: 0;
list-style: none;
line-height: 1;
border-bottom: 0;
text-align: center;
} 
#catnav ul a {
position: relative;
display: block;
padding: 0 18px;
height: 35px;
line-height: 38px;
color: #000;
text-transform:uppercase;
-webkit-transition: all 0.2s ease-in-out;
-moz-transition: all 0.2s ease-in-out;
-o-transition: all 0.2s ease-in-out;
transition: all 0.2s ease-in-out;
}
#catnav.secondary ul a{
height: 44px;
line-height: 48px;
font-family: Oswald,serif;
font-size: 13px;
letter-spacing: 1px;
}

#catnav ul li{
float: left;
border-right: 1px solid #DDD;
position: relative;
width: auto;
transition: all .3s;
-ms-transition: all .3s;
-moz-transition: all .3s;
-o-transition: all .3s;
-webkit-transition: all .3s;
}

#catnav > .sub-menu{margin-left:0;}
#catnav ul li:first-child  
#maganav ul  a{border-right:none;}
#catnav ul li.current-menu-item  a{color: #fff;}
ul.catnav li a{padding:5px 10px;}	
#catnav ul li.current-menu-item  ,#catnav ul li a:hover {color: #EEE;background: #202020;  }

#catnav.secondary ul li.current-menu-item, #catnav.secondary >ul >li a:hover {background:#1D9BF3; } 
 
#catnav ul li.dropme a{background: #1D9BF3;} 
#catnav ul ul {position: absolute;left: -999em;width: 212px;z-index:99999;border:0;border-bottom: 1px solid #222;margin-left:-1px;background: none;border-bottom: none;}
#catnav ul ul a {
width: 198px;
background-color: black;
height: 15px;
line-height: 15px;
padding: 15px 0px 10px 15px;
overflow: hidden;
text-align: left;
border-right: none;} 
#catnav.secondary ul ul a{padding: 0px 0px 2px 15px;}
#catnav ul ul a:hover {background-color: #3C3732!important;}
#catnav ul ul ul {border-top:0;margin: -44px 0 0 208px;}
#catnav ul li li  { margin:0;border:0;opacity:0.98;}
/**#catnav ul li:hover { position:static;}**/
#catnav ul li:hover ul ul, #catnav ul li:hover ul ul ul, #catnav ul li:hover ul ul ul ul { left:-999em; }
#catnav ul li:hover ul, #catnav ul li li:hover ul,#catnav ul li li li:hover ul,#catnav ul li li li li:hover ul { left:auto; }
.resp-nav{margin: 0 auto;
height: 45px;
padding: 1px;
background: #000;
outline: 0;
font-size: 20px;
text-transform: capitalize;
-webkit-appearance: none;
-moz-appearance: none;
border: 4px solid #000;
text-align: center;
color: #FFF;
overflow: hidden;
width: 100%!important;
-moz-box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.34);
-webkit-box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.34);
box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.34);
}

.social-wrap{ 
display: block;
font-weight: 700;
padding: 0 10px;
font-size: 16px;
color: #FFF;

}
.social-top {
width: 170px!important;
height: 34px;
background: #1D9BF3;
box-shadow: -3px 0px 10px rgba(0, 0, 0, 0.5);
} 
.social-top i {
padding: 8px 5px 0px;
display: inline-block;
cursor: pointer;
} 
.social-top i:hover {
color: #3D3D3D;
-webkit-transition: all .40s;
-moz-transition: all .40s;
-o-transition: all .40s;
transition: all .40s;
}
.sb-search ,.social-top{
	position: absolute;
	width: 0%;
	z-index:99;
	min-width: 60px;
	height: 44px;
	float: right;
	overflow: hidden;
	-webkit-transition: width 0.3s;
	-moz-transition: width 0.3s;
	transition: width 0.3s;
	-webkit-backface-visibility: hidden;
	right: 0px;
	top: 0px;
}

.sb-search-input {
 	top: 0;
	right: 0;
	border: none;
	outline: none;
	background: #fff;
	width: 100%;
	height: 50px;
	margin: 0;
	z-index: 10;
	padding: 0 0 5px 20px;
	font-family: inherit;
	font-size: 20px;
	color: #2c3e50;
	border-left: 1px solid #DDD;
}

.sb-search-input::-webkit-input-placeholder {
	color: #1D9BF3;
}

.sb-search-input:-moz-placeholder {
	color: #1D9BF3;
}

.sb-search-input::-moz-placeholder {
	color: #1D9BF3;
}

.sb-search-input:-ms-input-placeholder {
	color:#1D9BF3;
}

.sb-icon-search,
.sb-search-submit  {
	width: 60px;
	height: 60px;
	display: block;
	position: absolute;
	right: 0;
	top: 0;
	padding: 0;
	margin: 0;
	line-height: 45px;
	text-align: center;
	cursor: pointer;
}

.sb-search-submit {
	background: #fff; /* IE needs this */
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)"; /* IE 8 */
    filter: alpha(opacity=0); /* IE 5-7 */
    opacity: 0;
	color: transparent;
	border: none;
	outline: none;
	z-index: -1;
}

.sb-icon-search {
	color: #fff;
	background: #1D9BF3;
	z-index: 90;
	font-size: 22px;
	font-family: 'themepacific';
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	-webkit-font-smoothing: antialiased;
}

.sb-icon-search:before {
	content: "\e60c";
}

/* Open state */
.sb-search.sb-search-open,
.no-js .sb-search {
	width: 100%;
}

.sb-search.sb-search-open .sb-icon-search,
.no-js .sb-search .sb-icon-search {
	background: #111!important;
	color: #fff;
	z-index: 11;
}

.sb-search.sb-search-open .sb-search-submit,
.no-js .sb-search .sb-search-submit {
	z-index: 90;
}
@font-face {
	font-family: 'themepacific';
	src:url('css/fonts/themepacific.eot?yv4p5n');
	src:url('css/fonts/themepacific.eot?#iefixyv4p5n') format('embedded-opentype'),
		url('css/fonts/themepacific.woff?yv4p5n') format('woff'),
		url('css/fonts/themepacific.ttf?yv4p5n') format('truetype'),
		url('css/fonts/themepacific.svg?yv4p5n#themepacific') format('svg');
	font-weight: normal;
	font-style: normal;
}


#catnav.secondary .menu-home {
border-right: 0;
}
#catnav.secondary .menu-home a {
width: 35px;
padding: 0 10px;
background-image: url(images/home.png)!important;
background-repeat: no-repeat!important;
background-position: center 8px !important;
text-indent: -9999px;
background: #1D9BF3;
}
.meta_sep {
width: 35px;
display: inline-block;
height: 35px;
position: absolute;
top: 12px;
left: -34px;
} 
.meta_author:before,.meta_sep:before {
	content: "\e601";
}
.icon-music:before {
	content: "\e602";
}
.icon-image:before {
	content: "\e603";
}
.icon-play:before {
	content: "\e604";
}
.icon-file:before {
	content: "\e605";
}
.meta_categ:before {
	content: "\e606";
}
.meta_date:before {
	content: "\e607";
}
.meta_comments:before {
	content: "\e608";
}
.icon-user:before {
	content: "\e609";
}
.icon-quotes-left:before {
	content: "\e60a";
}
.icon-spinner:before {
	content: "\e60b";
}
.icon-search:before {
	content: "\e60c";
}
.icon-google-plus:before {
	content: "\e60d";
}
.icon-facebook:before {
	content: "\e60e";
}
.icon-twitter:before {
	content: "\e60f";
}
.icon-feed:before {
	content: "\e610";
}
.icon-youtube:before {
	content: "\e611";
}
.icon-vimeo:before {
	content: "\e612";
}
.icon-flickr:before {
	content: "\e613";
}
.icon-pinterest:before {
	content: "\e614";
}
.icon-linkedin:before {
	content: "\e618";
}
.icon-stumbleupon:before {
	content: "\e619";
}
.icon-pinterest2:before {
	content: "\e61a";
}
.icon-arrow-left:before {
	content: "\e615";
}
.icon-uniE616:before {
	content: "\e616";
}
.menu-item-has-children > a:after {
	content: "\e617";
}
.meta_author ,.meta_date ,.meta_comments,.meta_categ {margin-right:6px;}
.meta_author:before,.meta_date:before,.meta_comments:before,.meta_categ:before{
				display: inline-block;
				width: 15px;
				height: 15px;
				font-size: 12px;
				text-align: left;
 }
  
.tickercontainer {  
width: 95%;
height: 35px;
margin: 0;
padding: 0;
overflow: hidden;
margin-left: 25px;
}
.tickercontainer .mask { 
position: relative;
padding-left: 10px;
padding-right: 10px;
overflow: hidden;
}
ul.newsticker {  
-webkit-transition: all 0s linear;
-moz-transition: all 0s linear;
-o-transition: all 0s linear;
transition: all 0s linear;
position: relative;
margin-left: 20px;
font: bold 10px Verdana;
list-style-type: none;
margin: 0;
padding: 0;

}
ul.newsticker li {
float: left;  
margin: 0;
padding-right: 15px;
border:none!important;
 }

ul.newsticker a {
white-space: nowrap;
padding: 0;
text-transform: none!important;
color:  #1D1D1D!important;
margin: 0 25px 0 0;
 } 
ul.newsticker a:hover {background:none!important;text-decoration:underline;}

ul.newsticker span {
margin: 0 10px 0 0;
} 

 .ticker-title {
background: #1D9BF3;
display: block;
font-weight: 700;
 padding: 0 10px;
height: 35px;
line-height: 38px;
color: #FFF;
text-transform: uppercase;
position: absolute;
z-index: 1;
-webkit-box-shadow: 4px 0px 10px rgba(0, 0, 0, 0.5);
-moz-box-shadow: 4px 0px 10px rgba(0, 0, 0, 0.5);
box-shadow: 4px 0px 10px rgba(0, 0, 0, 0.5);
}
.slider-header-caption .meta-date {
color: #EEE;
padding: 5px 5px 5px 2px;
display: block;
}

#notifybrowser{padding:30px;background:#eee;border:1px solid #ddd;}
.featured-row.clearfix {
margin-bottom: 20px;
}
.fluid_container {
float:left; position: relative;z-index: 1;background: #fff;width:67%;height:360px; 
} 	
.featured-cat-top {
width: 33%;
float: left;
-webkit-box-sizing: border-box;
-moz-box-sizing: border-box;
box-sizing: border-box;
/* margin-left: 22px; */
}
 
.featured-cat-top article {
float: left;position:relative;overflow:hidden;
width:100%;}
.featured-cat-top .big img{height:192px;width:100%;
}
.featured-cat-top .small {
width: 50%;
}
.featured-cat-top .small img{
 height:144px;
 width:100%;
}

.flexslider.small .slider-header-caption,.featured-cat-top article h3{ 
position: absolute;
bottom: 0;
width: 100%;
padding: 14px 20px 17px 20px;
box-sizing: border-box;
-moz-box-sizing: border-box;
-webkit-box-sizing: border-box;
}
.featured-cat-top article h3 {
font-size: 14px;line-height: 16px;
}
.flexslider.small .slider-header-caption,.featured-cat-top article h3{
 background: -moz-linear-gradient(top,rgba(0,0,0,0) 0,#000 100%);
background: -webkit-gradient(linear,left top,left bottom,color-stop(0%,rgba(0, 0, 0, 0)),color-stop(100%,#000));
background: -webkit-linear-gradient(top,rgba(0, 0, 0, 0) 0,#000 100%);
background: -o-linear-gradient(top,rgba(0,0,0,0) 0,#000 100%);
background: -ms-linear-gradient(top,rgba(0,0,0,0) 0,#000 100%);
background: linear-gradient(to bottom,rgba(0, 0, 0, 0) 0,#000 100%);
filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#00000000',endColorstr='#000000',GradientType=0);  }
.flexslider.small .slider-header-caption h2,.featured-cat-top article h3{color:#fff;}
.flexslider.small .slider-header-caption h2 {font-size: 34px;opacity:0.7;}
.flexslider.small .slider-header-caption h2:hover {opacity:1;}
 .blogflexcarousel .slides > li:hover img,  .flex-active-slide:hover img,.featured-cat-top article:hover img {-webkit-transform: translate3d(0, 0, 0);
-webkit-perspective: 0;
-webkit-backface-visibility: hidden;
-webkit-transform: scale(1.1);
-moz-transform: scale(1.1);
transform: scale(1.1);
opacity: 0.9;
}

 .blogflexcarousel img, .flex-active-slide img,.featured-cat-top article img{ 
 
 -webkit-transition: all 0.6s;
-moz-transition: all 0.6s;
-o-transition: all 0.6s;
transition: all 0.6s;
}
.page-template-page-full-php  #tp-section-left{border:none;}
/* #Homepage */
/* #Magazine */
.box-left {
line-height: 22px;
margin-right: 10px;
padding-bottom: 30px;
width: 32%;
margin-bottom: 20px;
float: left;
overflow: hidden;
border-bottom: 4px solid #FFC600;
}

.box-left {
line-height: 22px;
margin-right: 10px;
padding-bottom: 30px;
width: 32%;
margin-bottom: 20px;
float: left;
overflow: hidden;
border-bottom: 4px solid #FFC600;
}

.post-box-left {
line-height: 22px;
padding-bottom: 20px;
width: 48%;
margin-top: 25px;
float: left;
overflow: hidden;
border-bottom: 4px solid #333;
}

.post-box-left.first-grid {
margin-right: 20px!important;
}
.article-right {
overflow: hidden;
}
.article-thumbnail {
display: inline-block;
float: left;
margin-right: 15px;
}
.article-content {
position: relative;
padding-top: 5px;
clear: both;
left: 0;
}
.themepacific-read-more {
margin-top: 8px;
}
.blogposts-tp-site-wrap {
position: relative;
background: white;
margin: 0 0 20px;
}
.blog-lists-blog{margin-bottom:20px;}
.blog-lists { position: relative;  float: left; }
.blogposts-inner {
margin-top: 20px;
}
.blogposts-wrap {
margin-bottom: 35px;
}
h2.blogpost-tp-site-wrap-title,.widget-head{
position: relative;
font-family: Oswald,serif;
z-index: 100;
margin-bottom: 15px;
line-height: 28px;
padding: 5px;
min-height: 28px;
font-size: 15px;
border-top: 1px solid #111;
border-bottom: 1px solid #DDD;
color: #111;
}
.blogposts-wrap h2.blogpost-tp-site-wrap-title{margin: 0px;}
.widget-head{margin-top:0;}
.container .one-third.column{width: 47%;
padding-right: 15px;}
.full-right.one-third.column{padding:12px 0 0 0;margin-left: 15px;}
li.blog-list-small.second {
border: none;
margin-top: 0;
padding-top: 0;
}
.full-right.one-third.column.blog-list-small.second {
padding: 0px;
}

.blog-lists li:first-child h3 a {font-size: 22px;}

.blog-lists li {position:relative; padding: 0;margin-bottom: 20px;overflow: hidden;}
.blog-lists-title { position: relative;width:100%; display:inline;float: left;  }
.blog-lists h3{ display: inline-block;}	
.blog-lists h3 a{ font-family:PT Sans,serif; font-size: 20px;display:block;font-weight: normal; color: #363636;text-decoration: none;line-height: 1.27; }
.blog-list-small  h3 a{font-family:PT Sans,serif;font-size:14px;}
.blog-lists .time ,.sb-post-list-title .time{font-family:PT Sans,sans-serif;color: #818181;font-size: 11px;margin:5px 0 2px;}
.sb-post-list-title .time{margin-top:4px;}
.maga-excerpt{display:block;float:left;margin-bottom:15px;}.sticky{}
.sb-post-list-title span{ padding-left:0px;color:#7E7E7E; }
.magbig-thumb,.magbig-thumb-grid { position: relative;float:left; height:160px;width:290px;overflow:hidden; }
.magbig-thumb-grid {width:100%;}
.magbig-thumb img,.magbig-thumb-grid img{width: 100%;height: 100%;position: relative;z-index: 1;opacity: 1;box-shadow: 0 0 2px #B5B5B5;-moz-box-shadow: 0 0 2px #b5b5b5;-webkit-box-shadow: 0 0 2px #B5B5B5;-webkit-transition: all .40s;-moz-transition: all .40s;-o-transition: all .40s;transition: all .40s;}
.magbig-thumb img:hover{opacity: 0.6;}


.magbig-thumb:hover img,.sb-post-big-thumbnail:hover img,.tpcrn_r_p_list img:hover{
-webkit-transform: scale(1.2) rotate(-5deg);
-moz-transform: scale(1.2) rotate(-5deg);
-o-transform: scale(1.2) rotate(-5deg);
-ms-transform: scale(1.2) rotate(-5deg);
transform: scale(1.2) rotate(-5deg);
}
.magbig-thumb img,.sb-post-big-thumbnail img {
width:100%;
-webkit-transition: -webkit-transform .2s ease-out;
-moz-transition: -moz-transform .2s ease-out;
-o-transition: -o-transform .2s ease-out;
transition: transform .2s ease-out;
}
.blog-lists-blog h3,.article-header  h3{font-size: 20px;margin-bottom: 10px;color: #111;line-height: 22px;}
.blog-lists-blog h3 a:hover,.article-header  h3 a:hover, .blogflexcarousel .slides h4 a:hover,.blogflexcarousel .slides > li:hover h4 a{color:#1D9BF3;}  
.full-left {display:block;position:relative; width:100%;float: left; }
.list-block {position: relative;width:49%;float:left;border-top: none;padding-bottom: 6px;color: #777;padding:0px 0px 0 25px;min-height:148px;}
.list-block-slide{margin:20px;}
.list-block-slide h3{font-family:Oswald,sans-serif;}
.list-block-slide .post-meta-blog{font-size:10px;}
#sidebar .sb-post-thumbnail {width: 60px;margin-right: 12px;display: inline-block;vertical-align: top;}


.blog-lists.one-half.column.first,
.blog-lists.one-half.column.second{
width: 47%;padding-right:15px;
}
.blog-lists.one-half.column.second{padding:0 0 0 15px;}
li.blog-list-small {
border-top: 1px solid #E4E4E4;
padding-top: 12px;
margin-bottom: 10px;
}
.blog-list-big .time{
border-bottom: 1px solid #E4E4E4;
border-top: 1px solid #E4E4E4;
padding: 4px 0 4px;
font-size:9px;
margin-bottom: 10px;
}

.blog-list-small .blog-lists-title {
width: 74%;
float: right;
}
.sb-post-big-thumbnail {
margin-bottom: 12px;
overflow:hidden;
}
.themepacific-cat-more {
position: absolute;
top: 0;
z-index: 3;
margin-top: 15px;
padding: 8px 12px!important;
}
.tpcrn-read-more,.themepacific-cat-more {
line-height: 1;
padding: 4px 12px;
color: white;
background: #1D9BF3;
display: inline-block;
text-transform: capitalize;
}
.tpcrn-read-more {
background: none;
color: #858585;
font-weight: bold;
padding: 0;
}
.tpcrn-cat-more:hover{opacity:0.6;}
.tpcrn_magazine_doublethumb {
border-bottom: 1px dashed #DDD;
}

#infinite-handle {
text-align: center;
clear: both;
padding-top: 25px;
border-top: 1px solid #EEE;
margin: 20px 0;
}
#infinite-handle span {
background: #1D9BF3;
font-size: 18px;
padding: 10px 16px;
width: 200px;
display: inline-block;
border-radius: 4px;
transition: all .2s linear;
-o-transition: all .2s linear;
-moz-transition: all .2s linear;
-webkit-transition: all .2s linear;
}
#infinite-handle span:hover {background: #161615;}
.infinite-loader {
position: relative;
left: 46.5%;
}
.infinite-scroll .pagination {
display: none;
}
/*Home Blog /Archives/Search */

/* #Pagination */

.pagination { position: relative;
margin: 10px 10px 30px 0px;
overflow: hidden;
text-align: center;
border-bottom: 1px solid #DDD;
padding-bottom: 20px;} 
.pagination .current ,.pagination a, .page-numbers.dots{
font-size: 0.875em;
font-weight: 300;
line-height: 35px;
height: 35px;
width:35px;
text-align: center;
margin-right: 7px;
display: block;
float: left;
color: white;
background: #1D9BF3;
} 
.pagination .current,.pagination a:hover  {
color: white;
background: #161615!important;
text-decoration: none;}
.page-numbers.dots{text-shadow:none;padding:0;border:none;background:none;box-shadow:none;color:#fff;}



/* # single Post/ Page styles */
.post-content {
background: white;
margin:0px ;
 }
.feat-thumb img{width:100%;max-height:410px;}
.post-title { position: relative;}
.post-title h1 {  color:#333; margin-top: 10px;font-size: 30px;margin-bottom: 0;line-height: 1.2;word-break:normal;word-wrap: break-word; }
.page .post-title {border-bottom: 1px solid whiteSmoke;}


.post-meta-blog{font-family: PT Sans,sans-serif;
color: #707070;
border-bottom: 1px solid #E4E4E4;
border-top: 1px solid #E4E4E4;
padding: 3px 0 3px;
font-size: 11px;
margin: 10px 0;}
.post-meta-blog span {display: inline-block; }
.post-thumbnail img,.tpcrn_r_p_list img{opacity:1;-webkit-transition: all .40s;
-moz-transition: all .40s;
-o-transition: all .40s;
transition: all .40s;}
.post-thumbnail img:hover{opacity:0.6;}
/* #Post Thumbnails */



/* #Post/Page Elements */
.post-outer{ margin:0 0 0 0px}
.page .post-outer{ margin:0px}
.post_content { position: relative; color: #222;   font-style:normal; font-size:13px;line-height: 20px;margin: 10px 0;}
.post_content h1 { font-size: 32px;}
.post_content h2 { font-size: 28px;}
.post_content h3 { font-size: 24px;}
.post_content h4 { font-size: 20px;}
.post_content h5 { font-size: 16px;}
.post_content h6 { font-size: 12px;}
.post_content h1, .post_content h2, .post_content h3, .post_content h4, .post_content h5, .post_content h6 { line-height: 1.2;color: #111;margin: 10px 0 15px; }
.post_content img{max-width: 100%;height: auto!important;}
.post_content p { display:block;margin-bottom: 15px;line-height:22px; }
.post_content blockquote { background:url(images/quote.png) no-repeat; font-family:serif;font-size:12px;font-style:italic;padding-left:32px; margin-left:25px; color:#777; }
.post_content ul, .post_content ol { margin: 20px 40px; }
.post_content li { line-height: 21px }
.post_content ul { list-style: disc outside; }
.post_content ol { list-style: decimal outside; }
.post_content ul ul,.post_content ul ol { margin-top:10px;}
.post_content ul ul ,.post_content ol ul{list-style: circle outside; }
.post_content table a{color: #666;font-weight: bold;text-decoration:none;}
.post_content table a:active,.post_content table a:hover {color: #bd5a35;text-decoration:underline;}
.post_content table {width:90%;color:#666;font-size:12px;text-shadow: 1px 1px 0px #fff;background:#eaebec;margin:20px;border:#ccc 1px solid;}
.post_content table caption{font-weight:bold;line-height:35px;}
.post_content table th {padding: 9px 15px 9px 25px;background: #CF0;font-size: 20px;color: white;text-shadow: none;}
.post_content table tr{text-align: center;padding-left:20px;}
.post_content table tr td:first-child{text-align: left;padding-left:20px;border-left: 0;width:30%;}
.post_content table tr td {padding :6px 15px;border-top: 1px solid #ffffff;border-bottom:1px solid #e0e0e0; background: #FFF;}
.post_content table tr:last-child td{border-bottom:0;}
.post_content table tr:hover td{background: #F8F8F8;}
.post_content p a, .post_content li a,
.post_content p a:visited, .post_content li a:visited { text-decoration: none;color: #409BD4; }
.post_content p a:hover, .post_content li a:hover,.post_content p a:active, .post_content li a:active { text-decoration: none;color: #08ACD5; }
.post_content code{  background: lightYellow;padding: 1px;font-family: monospace,Monaco, Courier;}
.post_content pre{margin:15px 0;overflow: auto;color: white;background: #1D1F21;padding: 0;font-family: monospace,Monaco, Courier;-moz-tab-size: 2;-o-tab-size: 2;tab-size: 2;-ms-word-break: normal;word-break: normal;word-break: normal;-webkit-hyphens: none;-moz-hyphens: none;-ms-hyphens: none;hyphens: none;position: relative;} 
.post_content pre code {font-family:monospace, Monaco, Courier;background: none;padding: 15px;white-space: pre;overflow: auto;display: block;}

.post_content .alignright { float:right; padding:10px; }
.post_content .alignleft { float:left; padding:10px; }
.wp-caption, .gallery-caption  { border: 1px solid #D7D7D7; padding-top: 4px; margin-bottom:20px; text-align: center; }
.wp-caption{border: 1px solid #ECECEC;padding: 4px ! important;margin-bottom: 20px;text-align: center;max-width: 99% !important;background: #F0F0F0;}
.wp-caption img {max-width: 100% !important;}
p.wp-caption-text { margin-bottom:2px; }
.aligncenter, div.aligncenter { display: block; margin-left: auto; margin-right: auto;padding:10px; }
img.centered,img.aligncenter ,mg.alignleft,img.alignrightimg.alignright {padding:0px;}
.post-topics a {
text-transform: uppercase;
color: #82BBF8;
}
.post-topics a:hover {text-decoration:underline;}
.tiled-gallery{clear:none!important;}
.gallery {
	margin-bottom:20px;
	margin-left:-4px;
}
.gallery-item {
	float:left;
	margin:0 2px 2px 0;
	overflow:hidden;
	position:relative;
}
.gallery-columns-1.gallery-size-medium,.gallery-columns-1.gallery-size-thumbnail,.gallery-columns-2.gallery-size-thumbnail,.gallery-columns-3.gallery-size-thumbnail {
	display:table;
	margin:0 auto 20px;
}
.gallery-columns-1 .gallery-item,.gallery-columns-2 .gallery-item,.gallery-columns-3 .gallery-item {
	text-align:center;
}
.gallery-columns-4 .gallery-item {
	max-width:23%;
	max-width:-webkit-calc(25% - 4px);
	max-width:calc(25% - 4px);
}
.gallery-columns-5 .gallery-item {
	max-width:19%;
	max-width:-webkit-calc(20% - 4px);
	max-width:calc(20% - 4px);
}
.gallery-columns-6 .gallery-item {
	max-width:15%;
	max-width:-webkit-calc(16.7% - 4px);
	max-width:calc(16.7% - 4px);
}
.gallery-columns-7 .gallery-item {
	max-width:13%;
	max-width:-webkit-calc(14.28% - 4px);
	max-width:calc(14.28% - 4px);
}
.gallery-columns-8 .gallery-item {
	max-width:11%;
	max-width:-webkit-calc(12.5% - 4px);
	max-width:calc(12.5% - 4px);
}
.gallery-columns-9 .gallery-item {
	max-width:9%;
	max-width:-webkit-calc(11.1% - 4px);
	max-width:calc(11.1% - 4px);
}
.gallery-columns-1 .gallery-item:nth-of-type(1n),.gallery-columns-2 .gallery-item:nth-of-type(2n),.gallery-columns-3 .gallery-item:nth-of-type(3n),.gallery-columns-4 .gallery-item:nth-of-type(4n),.gallery-columns-5 .gallery-item:nth-of-type(5n),.gallery-columns-6 .gallery-item:nth-of-type(6n),.gallery-columns-7 .gallery-item:nth-of-type(7n),.gallery-columns-8 .gallery-item:nth-of-type(8n),.gallery-columns-9 .gallery-item:nth-of-type(9n) {
	margin-right:0;
}
.gallery-caption {
	background-color:rgba(0,0,0,0.7);
	box-sizing:border-box;
	border:none!important;
	color:#fff;
	font-size:14px;
	line-height:1.3;
	margin:0;
	max-height:50%;
	opacity:0;
	padding:2px 8px;
	position:absolute;
	bottom:0;
	left:0;
	text-align:left;
	-webkit-transition:opacity 400ms ease;
	transition:opacity 400ms ease;
	width:100%;
}
.gallery-caption:before {
	box-shadow:0 -10px 15px #000 inset;
	content:"";
	height:100%;
	min-height:49px;
	position:absolute;
	left:0;
	top:0;
	width:100%;
}
.gallery-item:hover .gallery-caption {
	opacity:1;
}
.gallery-columns-7 .gallery-caption,.gallery-columns-8 .gallery-caption,.gallery-columns-9 .gallery-caption {
	display: none;
}


.singlenavig {
 padding-top: 20px;
 }
.singlenavig-prev {
border-right: #E7E7E7 1px solid;
width: 49%;
padding-bottom: 5px;
padding-top: 5px;
float: left;
}
.singlenavig-prev:hover .arrow.icon-arrow-left{
 color: #333;
} 
.singlenavig-next:hover .arrow.icon-uniE616{
 color: #333;
}
.singlenavig-prev:hover .singlenavig-prev-span .title,.singlenavig-next:hover .singlenavig-next-span .title{ 
text-decoration: underline;
}
.singlenavig-next{
width: 49%;
padding-bottom: 5px;
padding-top: 5px;
float: left;
}
.singlenavig a {
display: block;
overflow: hidden;
}
.singlenavig .arrow {
float: left;
width: 45px;
height: 45px;
background: #EEE;
margin-top: 5px;
font-size: 30px;
color: #1D9BF3;
line-height: 1.5;
position: relative;
text-align: center;
}
.singlenavig-prev-span{
float:left;
width: 68%;
padding-left: 15px;
padding-right: 20px;
}
.singlenavig .lnk {
display: block;
color: #999;
font-size: 11px;
}
.singlenavig .title {
display: block;
color: #333;
font-size: 15px;
}

.singlenavig-next-span{
float:left;
padding-left: 25px;
padding-right: 20px;
width: 68%;
}

/*# Breadcrumbs */
#tpcrn-breadcrumbs{
overflow: hidden;
width: 100%;
border-top: 1px solid #111;
border-bottom: 1px solid #DDD;
color: #111;
margin-bottom: 10px;
padding: 10px 0;
}
#tpcrn-breadcrumbs li{float: left;line-height: 5px;margin: 0 ;}
#tpcrn-breadcrumbs a{font-weight: bold; float: left;text-decoration: none;color: #111;position: relative;padding:7px 4px 0 2px;font-size: 11px;}
#tpcrn-breadcrumbs .current{ background: none;line-height: 18px;font-size: 11px;color: #111;}
.single-navigation{ font-size: 14px;border: 1px solid #E4E4E4; }
.single-navigation span {font-weight: bold;}
.previous{display: block;float: left;width: 46%;border-right: 1px solid #E4E4E4;padding: 15px;}
.next{display: block;float: right;width: 46%;border-left: 1px solid #E4E4E4;padding: 15px;margin-left: -2px;}
/*# Post Gallery*/

.post_content .gallery .gallery-icon a:focus img, .post_content .gallery .gallery-icon a:hover img, .post_content .gallery .gallery-icon a:active img {background: #EEE;border-color: #BBB;}
.post_content .gallery .gallery-icon img {border: 1px solid #DDD ! important;padding: 6px;-moz-border-radius:5px;-webkit-border-radius:5px;border-radius:5px;} 
.post-attachment{text-align:center;display:block;}
.single-split-page{margin: 10px 0 25px;font-size:10px; font-weight:normal;text-align: center;}
.single-split-page p { font-size:14px;font-weight:bold; }
.single-split-page p a {margin-right: 4px;background: #41B3FF;color: white;text-decoration: none;padding: 7px 12px;margin-left: 5px;border-radius: 30px;}
.single-split-page a:hover { color: white;background: #212326; }
.single-split-page strong {background: #212326;color:white;margin-right: 10px;padding: 6px 12px;}
.single-split-page .tpcrn-sp-pre {padding-right: 25px;}
.single-split-page .tpcrn-sp-next {padding-left: 25px;}
.tpcrn-shr-post span.head{
background: #1D9BF3;
font-size: 13px;
margin: 0px 10px -10px -10px;
display: block;
float: left;
color: #FFF;
padding: 6px 14px;
text-transform: uppercase;
}
.tpcrn-shr-post {
clear: both;
padding: 10px 0 8px 10px;
border-top: 1px solid #111;
border-bottom: 1px solid #DDD;
color: #111;
}
.social-wrap-share a {
font-size: 18px;
background: #EEE;
width: 60px;
height: 30px;
display: inline-block;
line-height: 34px;
text-align: center;
margin: 0 5px 5px;
} 
.social-wrap-share a:hover{
    color:#fff;   
}
.fbtp:hover {
    background: #436eac;
}
.gptp:hover {
    background: #dd4b39;
}
.twtp:hover {
    background: #0598c9;
}
.intp:hover {
    background: #436eac;
}
.pintp:hover {
    background: #910101;
}

/* #Related Posts */
#tpcrn_author img {
padding: 4px;
background: #FFF;
float: left;
margin: 0 10px 5px 0;
}
.singlep-author-share li {
float: left;
margin: 10px 10px 0 0;
}.singlep-author-share li {
float: left;
margin: 10px 10px 0 0;
}
.tpcrn_related_post{
width: 100%;
position: relative; 
}
h3.tpcrn_r_p,.author-content h3,#comments > h2{
position: relative;
font-family: Oswald,serif;
z-index: 100;
margin-bottom: 15px;
line-height: 28px;
margin-top: 20px;
padding: 5px;
height: 28px;
font-size: 14px;
border-top: 1px solid #111;
border-bottom: 1px solid #DDD;
color: #111;
}
.tpcrn_r_p_blocks{
float:left;
}
.tpcrn_r_p_list{
display: block;
position: relative;
float: left;
width: 200px;
height: 230px;
margin-left: 10px; 
}

.tpcrn_r_p_thumb{
width: 100%; 
height:134px;
clear: both;
margin-bottom: 5px;
text-align: center;
display: block;
position: relative;
overflow:hidden;
}
.tpcrn_r_p_list img{width: 100%;height:134px;}
.tpcrn_r_p_blocks h3{padding: 6px 0px 12px 0;}
.tpcrn_r_p_blocks h3 a{ 
color: #363636;
font-size: 14px;
line-height: 1.27;
display: block;} 
.tpcrn_r_p_list.first {margin-left: 0;}


/*# Comments Blocks*/

#comments{display: block;background: white;margin-bottom: 30px;padding-bottom: 30px;min-height: 120px; }
#respond h3{margin:8px 0px;}
.logged-in-as{padding-bottom:10px;}
ol.commentlist,ol.sepa_pinglist{ padding:0;list-style: none;margin:0 10px 20px;}
ol.sepa_pinglist{margin: 20px;width: 96%;list-style: none;}
li.pingback{border-left: 3px solid #ECECEC;margin: 5px 0;padding: 8px 5px;background: #FAFAFA;border-bottom: 1px dashed #EEE;}
.edit-link{margin-left: 15px; }
.comments-title{padding:0px;line-height:21px;}
.comment{margin-top:20px}
.commentlist ul.children{margin-left:30px}
.comment-tp-site-wrap{padding: 10px ! important;background: #FFF;border-style: double;border-color: #EEE;border-width: 1px;-moz-box-shadow: 0px 0px 1px rgba(238, 238, 238, 0.41);-webkit-box-shadow: 0px 0px 1px rgba(238, 238, 238, 0.41);box-shadow: 0px 0px 1px rgba(238, 238, 238, 0.41);}
.comment-avatar img{opacity: 1;padding: 3px;border: 1px solid #EBEBEB;-moz-border-radius: 5px;-webkit-border-radius: 5px;border-radius: 5px;}
.comment-avatar{float: right;margin: 20px 12px 0px 0;background: white;text-align: center;width: 65px;height: 65px;}
.odd .comment-avatar{float: right;margin:15px 30px 0px 0;background: white;text-align: center;width: 65px;height: 65px;}
.comment-meta{margin:6px;display:block;text-transform: uppercase;}
.comment-meta .author{display: inline-block;margin: 5px;font-weight: bold;font-size: 14px;}
.comment-meta .time{padding-left: 6px;border-left: 1px solid #F7F7F7;margin-top: 3px;margin-bottom: 3px;margin-left: 4px;display: inline-block;color: #999;text-decoration: none;font-style: italic;letter-spacing: 1px;text-transform: none;}
.commentlist .comment-content{font-style:normal; color:#666;font-size:13px;margin: 10px 20px;word-wrap:break-word;}
.comment-content p {margin-bottom: 20px;}
.comment-content ul li {list-style:disc;}

.commentlist .comment-content h1,.commentlist .comment-content h2,.commentlist .comment-content h3,.commentlist .comment-content h4,.commentlist .comment-content h5,.commentlist .comment-content h6{margin-bottom:30px;}
.commentlist .comment-content a{text-decoration: underline;color: #1470D3;}	.commentlist .comment-content .reply{padding-top: 10px; }
.commentlist .comment-content .reply a{padding-top: 10px;text-decoration: none;color: #111;}
.commentlist .odd .comment-content{padding: 20px;border: 1px solid whiteSmoke;margin: 10px;background: #F7F7F7; }
.depth-2,.depth-3,.depth-4,.depth-5,.depth-6,.depth-7,.depth-8,.depth-9,.depth-10{padding-right:0px;padding-bottom:0px}
#respond{clear:both;margin:15px;padding:10px 0 20px 5px;} 
#cancel-comment-reply-link{color: #E85A08;font-size: 12px;}
#commentform input[type="text"], input[type="text"], input[type="password"],#commentform textarea ,.post_content input[type="password"] {background: white;color: #666;padding: 6px 6px 6px 8px;margin-bottom: 15px;height: 18px;border: solid 1px #BBB;outline: none;-moz-border-radius:2px;-webkit-border-radius:2px;border-radius:2px;-moz-box-shadow: inset 0 1px 2px rgba(0,0,0,.2);-webkit-box-shadow: inset 0 1px 2px rgba(0, 0, 0, .2);box-shadow: inset 0 1px 2px rgba(0, 0, 0, .2);}
.post_content input[type="password"]{height:20px;}
#commentform textarea {width:94%;height: 100px;padding: 5px;max-width: 100%;line-height: 20px;outline: 0;}
#commentform input[type="text"]:focus, #commentforminput[type="email"]:focus, #commentform textarea:focus {border: 1px solid #41B3FF;color: #444;-moz-box-shadow: 0 0 7px #41B3FF;-webkit-box-shadow: 0 0 7px #41B3FF;box-shadow: 0 0 7px #41B3FF;}
#commentform  input[type="submit"] {color: #F4FCFF;
font-size: 11px ! important;
margin: 0 1px 1px 0;
padding: 5px 10px;
text-transform: uppercase;
display: block;
background: #41B3FF;
text-decoration: none;
float: left;
font-weight: bold;
border: 1px solid #41B3FF;
height: 29px;
line-height: 26px;
padding: 1px 12px 0px 12px;
display: inline-block;
font-weight: bold;
cursor: pointer;
transition: all 0.3s ease-in-out;
-moz-transition: all 0.3s ease-in-out;
-webkit-transition: all 0.3s ease-in-out;}
.comment-form-author label,.comment-form-email label,.comment-form-url label  {line-height: 32px;padding-left: 15px;}
.comment-form-comment label{display:none;}
.comment-notes,.form-allowed-tags{margin:10px 0;}
.shbox{margin:0 auto;-webkit-box-shadow:0 1px 0 rgba(160, 160, 160, 0.75) inset,0 20px 0 #6D6D6D,0 -2px 20px rgba(66, 63, 63, 0.8);-moz-box-shadow:0 1px 0 rgba(160, 160, 160, 0.75) inset,0 20px 0 #6D6D6D,0 -2px 20px rgba(66, 63, 63, 0.8);box-shadow:0 1px 0 rgba(160, 160, 160, 0.75) inset,0 20px 0 #6D6D6D,0 -2px 20px rgba(66, 63, 63, 0.8);}
.nocomments{padding: 15px;
font-weight: bold;
font-size: 20px;
letter-spacing: 1px;}
.bypostauthor .comment-avatar img{border: 1px solid #12BEB8;}

/*# Sidebar,Footer Widgets General */

.sidebar-widget {
background:#fff;
position: relative;
margin: 0 0 20px;
word-break: normal;
word-wrap: break-word;
overflow: hidden;
}

.sidebar-widget a{color:#111;}
.sidebar-widget a:hover{color:#666;}
.sidebar-widget a:active{text-decoration:underline;}
.sidebar-widget ul { position: relative; margin: -10px 0 0; }
.sidebar-widget li {padding: 10px 0 10px;font-size: 100%;line-height: 16px;list-style: none; overflow:hidden;border-bottom: 1px solid #E4E4E4;} 
.sidebar-widget li:last-child {border-bottom: none;}
.widget_recent_comments li{background: url('images/comment_r.png') no-repeat 13px 10px ! important;padding: 10px 10px 10px 35px ! important;}
.tpcrn_tweets li{background: url('images/twit.png') no-repeat 10px 10px ! important;padding: 10px 10px 10px 50px;}
.sidebar-widget select ,#footer-blocks select{ margin: 5px 0 5px 5px;height: 25px; }
.sb-post-list-title {position: relative;
width: 72%;
display: inline-block;
vertical-align: top;}
.sb-tabs-wrap.big.sb-post-list-title{width:100%;}
.sb-post-list-title p { margin: 2px 0 0;
font-family: PT Sans,sans-serif;
color: #999;
font-size: 12px;
float: left;
display: inline-block;} 
.sb-post-thumbnail {position: relative;float: left;width: 60px;height: 60px;}	
.sb-post-thumbnail img{width:100%;height:100%;}
.searchform,.subsform{padding: 5px 0px 10px; }
.tpcrnbannersb.tpcrnadvert img {
text-align: center;
margin: 0 auto;
}
.searchform input[type="text"],.subsform input[type="text"] {background: #FCFCFC;margin-left:4px;margin-right: -10px;padding: 10px;width: 57%;border: 1px solid lightGrey;-moz-box-shadow: 0 0 5px #ddd inset;-webkit-box-shadow: 0 0 5px #DDD inset;box-shadow: 0 0 5px #DDD inset;font-size: 14px;vertical-align:middle;height: 18px;
margin-bottom: 0;}
.searchform input[type="text"]{width:90%;}
#sidebar-small .searchform input[type="text"]{width:80%;}
.subsform input[type="submit"],input[type="submit"]{ border: 1px solid #1D9BF3;padding: 11px 15px;cursor: pointer;background: #1D9BF3;color: white;font-weight: bold; vertical-align:middle;}

.tpcrn-forget-pw{margin-top: 5px!important;}
.tpcrn-author-avatar img {float: left;border: 1px solid #EEE;-moz-box-shadow: -4px 1px 2px rgba(0, 0, 0, 0.19);-webkit-box-shadow: -4px 1px 2px rgba(0, 0, 0, 0.19);box-shadow: -4px 1px 2px rgba(0, 0, 0, 0.19);}
.tpcrn-user-greet {margin: 15px 0;}
#tpcrn-user-in ul {float: left;display: block;padding: 0 0 2px 20px;}

.tpcrn-soc-counter {margin-top: 18px;}
.tpcrn-soc-counter li{float: left;width: 90px;padding: 10px 0;margin: 5px;border: none;-moz-transition: .4s linear;-webkit-transition: .4s ease-out;transition: .4s linear;	}
.tpcrn-soc-counter li a{display:block;text-align:center;}
.tpcrn-soc-img{background: url(images/social-themepacific.png) no-repeat;height: 60px;width:80px;-webkit-transition: all ease-in-out 0.3s;-moz-transition: all ease-in-out 0.3s;transition: all ease-in-out 0.3s;}
.tpcrn-soc-counter li span{display:block;color:#fff;font-size:14px;}
.tpcrn-soc-counter li:hover span{color:#111;}

.tpcrn-soc-facebook .tpcrn-soc-img{background-position: 20px 0px;}
.tpcrn-soc-counter li.tpcrn-soc-facebook:hover .tpcrn-soc-img{background-position: 20px -60px;}
.tpcrn-soc-counter li.tpcrn-soc-facebook {background: #436eac; }

.tpcrn-soc-twitter .tpcrn-soc-img{background-position: -42px 0px;}
.tpcrn-soc-counter li.tpcrn-soc-twitter:hover .tpcrn-soc-img{background-position: -42px -60px;}
.tpcrn-soc-counter li.tpcrn-soc-twitter{background: #0598c9;}

.tpcrn-soc-rss .tpcrn-soc-img{background-position: -110px 0px;}
.tpcrn-soc-counter li.tpcrn-soc-rss:hover .tpcrn-soc-img{background-position: -110px -60px;}
.tpcrn-soc-counter li.tpcrn-soc-rss {background: #FF8F00;}
 
#footer-blocks .sb-post-thumbnail  {margin-right: 12px;
display: inline-block;
vertical-align: top;width: 60px;
height: 60px;}
#footer-blocks .sb-post-thumbnail img { width: 60px;height: 60px;}

.sidebar-widget h4 { font-size:15px;line-height:19px;}
/*# Text Widget */

.sidebar-widget .textwidget ,#footer-blocks .textwidget{ position: relative;padding: 20px 10px 10px;margin: -15px 0 0;line-height:18px;}
#footer-blocks .textwidget{padding: 15px 0 0 0;}
.sidebar-widget .textwidget p ,#footer-blocks .textwidget p{ margin-bottom: 15px;}
.sidebar-widget .textwidget img ,#footer-blocks .textwidget img{max-width:100%;}
.sidebar-widget .textwidget p:last-child ,#footer-blocks .textwidget p:last-child{ margin-bottom: 0; }  

#calendar_wrap {
margin: 20px;
}
#wp-calendar {
margin: 0;
width: 100%;
font-size: 13px;
font-size: 0.928571429rem;
line-height: 1.846153846;
color: #686868;
}
#wp-calendar th,
#wp-calendar td,
#wp-calendar caption {
text-align: center;
border: 1px solid #F7F7F7;
}
#wp-calendar #next {
padding-right: 24px;
padding-right: 1.714285714rem;
text-align: right;
}
/* #Sidebar , post Tags */

.sidebar-widget .tagcloud{padding: 10px;margin:-10px 0 0;}
.post-tags,.tagcloud {position: relative; color: #ccc; overflow: hidden; margin: 0 auto; padding: 0 0 5px;margin-bottom:15px;}
.post-tags a,.post-tags strong,.tagcloud a{
color: #000;
font-size: 11px ! important;
margin: 0 6px 1px 0;
padding: 5px 10px;
text-transform: uppercase;
display: block;
border: 1px dashed #111;
text-decoration: none;
float: left;
}
#footer-blocks .tagcloud a{
border: 1px dashed #fff;
}
#footer-blocks .tagcloud a:hover{
border: 1px solid #fff;
}


 .post-tags  a:hover,.tagcloud a:hover {border: 1px solid #111;}
 .tagcloud a{margin-bottom:10px;}
.widget-head img {display: inline;}
 /* # subscribe Widget */


#searchform #submitbutton, .newsletter .nletterb {outline: none;background-color: #222;border: 1px solid #222;color: white;box-shadow: inset 0 0 1px rgba(255, 255, 255, .2),inset 0 0 1px rgba(255, 255, 255, .2);-webkit-box-shadow: inset 0 0 1px rgba(255, 255, 255, .2),inset 0 0 1px rgba(255, 255, 255, .2);-moz-box-shadow: inset 0 0 1px hsla(0,100%,100%,.2),inset 0 0 1px hsla(0,100%,100%,.2);transition: all 0.3s ease-in-out;-moz-transition: all 0.3s ease-in-out;-webkit-transition: all 0.3s ease-in-out;}
#commentform input#submit:hover,.subsform input[type="submit"]:hover,  .nletterbutton:hover, input[type="submit"]:hover {background-color: #212326;
border-color: #212326;
color: #FFF;}

/* #social Icons */
.social-icons{text-align:center;}
.social-icons img{display: inline-block;
opacity: 1;
-webkit-transition-duration: 0.8s;
-moz-transition-duration: 0.8s;
-o-transition-duration: 0.8s;
transition-duration: 0.8s;
-webkit-transition-property: -webkit-transform;
-moz-transition-property: -moz-transform;
-o-transition-property: -o-transform;
transition-property: transform;
overflow: hidden}
.social-icons img:hover {position: relative;
opacity: 0.8;
-webkit-transform: rotate(360deg);
-moz-transform: rotate(360deg);
-o-transform: rotate(360deg);}
.social-icons a{position:relative;margin:4px;display: inline-block; }
.social-icons a:last-child{margin-right:0;}
.social-icons a:first-child{margin-left:0;}
 

/* #Flickr  Google plus fb Widget*/
.sidebar-widget .tpcrn-flickr{margin: 0 auto;width: 90%;}
.tpcrn-flickr-widget .widget-head{margin:0;}
.flickr_badge_image {float:left;margin:5px;}
.sidebar-widget .flickr_badge_image img { border: 1px solid rgb(236, 236, 236);background: rgb(247, 247, 247);}
.flickr_badge_image img { float: left;border-radius: 4px;width: 50px;height: 50px;padding: 4px;border: 1px solid #313131;background: rgba(0, 0, 0, 0.16);}
.tpcrn-fb-like-box, .gp-box-widget{text-align:center;}
.tpcrn-fb-like-box{overflow: hidden; }
.tpcrn-fb-like-box iframe {
width: 100%!important;
}
/*# Stylish Sidebar Tabs */
#popular-rec{overflow: hidden;
border-radius: 0;
background: none;}
.sb-tabs-wrap {display:block; position: relative; }
.sb-tabs-wrap li {overflow: hidden;  }
ul.tabs2,ul.tabs {
display: block;
line-height: 46px;
color: black;
margin: 0 0 15px;
font-weight: bold;
min-height: 35px;
clear: both;}
ul.tabs2 li a, ul.tabs2 li a:hover,ul.tabs li a, ul.tabs li a:hover{
text-decoration: none;
display: block;
padding: 12px;
color: #FFF;
} 	
ul.tabs2 li,ul.tabs li {
float: left;
background: #212326;
border: none;
padding: 0px 10px;
margin: 0;
float: left;
white-space: nowrap;
display: block;
color: #464646;
text-align: center;
width: 26.27%;
border-left: 1px solid #2E2E2E;

}
ul.tabs2 li a:hover,ul.tabs li a:hover{color: #1D9BF3;}
 
.tabs-tp-site-wrap2 ul li.active a{color:#1D9BF3;}
.tabs-tp-site-wrap2 ul li.active:before {
position: absolute;
bottom: -6px;
content: "";
border-left: 6px solid rgba(0, 0, 0, 0);
border-right: 6px solid rgba(0, 0, 0, 0);
border-top: 6px solid #111;
height: 0;
width: 0;
}
ul.tabs{min-height:40px;}
/* Copyright */

#footer {position: relative;
-moz-box-shadow: 0px 0px 2px black;
-webkit-box-shadow: 0px 0px 2px black;
box-shadow: 0px 0px 2px black;
background: #111;
min-height: 41px;
margin: 0 auto;
line-height: 41px;
font-size: 12px;
padding: 5px 0;
border-top: 1px solid #3D3D3D;}
#footer.foot-widg-narrow{width:100%;}	#footer  .foot-wrap{margin:0 auto;}	#footer.foot-wide .foot-wrap{margin:0 auto;width:96%;}
#footer .foot-wrap a { color: #ECFFF1; text-shadow: -1px -1px -1px black;}
#footer  .foot-wrap p.copyright { float: left; margin-left: 15px; color: #AFAFAF; }
#footer  .foot-wrap p.credit { float: right; margin-right: 15px; color: #AFAFAF; }

/*# Footer Blocks */

#footer-blocks {
-moz-box-shadow: 0px 0px 2px #000;
-webkit-box-shadow: 0px 0px 2px black;
box-shadow: 0px 0px 2px black;
position: relative;
margin: 0 auto;
padding: 10px 0;
background-color: #111;
color: #CECECE;
font-size: 13px;}	
.fb-container {
padding: 0 0px 0 20px;
}
#footer-blocks .widget {margin: 0 0 20px;border:0;}
#footer-blocks .widget li {background: url('images/bullet2.png') no-repeat 10px;list-style-type: none;margin: 0 0 6px;border-bottom: 1px solid #353232;padding: 6px 8px 10px 30px;font-size: 100%;line-height: 16px;overflow:hidden;}
#footer-blocks .sb-tabs-wrap li {padding-left: 0 !important;padding-bottom: 5px !important;padding-top: 5px !important;}
#footer-blocks .tpcrn_tweets li {padding: 8px 10px 10px 50px;}
#footer-blocks .widget_search h3,#footer-blocks .widget_calendar h3 {display:block ! important;}
#footer-blocks  .sb-post-list-title {}
#footer-blocks  .tagcloud  {margin-top:20px;}
#footer-blocks  .tagcloud a {color:#fff;text-shadow:none;}
#footer-blocks #wp-calendar th {color:#BBB;}
#footer-blocks .email-subs {padding:0;}
#footer-blocks .tpcrn-soc-counter {margin-left: 5px !important;}
#footer-blocks a,#footer-blocks a:visited {outline: none;text-decoration: none;color: #DBDBDB;font-weight: normal;font-size: 13px;}
#footer-blocks a:active,#footer-blocks a:hover {text-decoration: none;color: white; }
.footer-block1,.footer-block2,.footer-block3,.footer-block4{float: left;width: 268px;padding: 20px 19px 0 0;}

h3.widget-title {font-style: normal;
font-family: "Oswald", "Helvetica", Arial, sans-serif;
font-size: 20px;
line-height: 1.27;
margin: 0 0 15px;
padding: 0 0 10px;
height: 32px;
color: white;
text-transform: capitalize;
border-bottom: 1px dotted #5A5656;}
h3.widget-title a{font-size: 21px!important;}
.container .eleven.columns                  { width: 620px; }
.container .six.columns                     { width: 300px; }