.container .eleven.columns {width: 730px;}#sidebar-small{display:none;}.container .six.columns {width: 379px;} .magbig-thumb-grid{width: 100%!important;height: 180px;}  .magbig-thumb{width: 47%;} .post-box-left .magbig-thumb{width:100%}