/*
* Skeleton V1.2
* Copyright 2011, Dave Gamache
* www.getskeleton.com
* Free to use under the MIT license.
* http://www.opensource.org/licenses/mit-license.php
* 6/20/2012
*/


/* Table of Contents
==================================================
    #Base 960 Grid
    #Tablet (Portrait)
    #Mobile (Portrait)
    #Mobile (Landscape)
    #Clearing */



/* #Base 960 Grid
================================================== */

    .container                                  { position: relative; width: 1190px; margin: 0 auto; padding: 0; }
    .container .column,
    .container .columns                         { float: left; display: inline; }
    .row                                        { margin-bottom: 20px; }

	.container .three.columns {
		width: 160px;
	}
	#catmenu{display:block;}
	#catnav select{display:none;}
	
	
		

	

	@media only screen and (max-width: 1199px) { 	
	.container{ width: 1024px; }
	.container .eleven.columns {width: 660px;}
	.container .six.columns {width: 283px;}
	#sidebar-small {display:none;}
	.magbig-thumb {width:310px;}
	.subsform input[type="text"]{width: 56%;}
	ul.tabs2 li, ul.tabs li{padding: 0px 8px;}
	.social-icons a {margin: 0 10px 0 0;}
	.tpcrn-soc-counter li {width: 98px;}
	.breaking-ticker,#header-banner468{display:none;}
	}
	 @media only screen and (max-width: 1024px) { 
	 
	 .container{ width: 960px; }
	 .container .eleven.columns {width: 604px;}
	 .container .six.columns {width: 275px;}
		.magbig-thumb {
		width: 280px;
		}
		.sb-post-thumbnail {
		width: 60px;
		height: 60px;}
		ul.tabs2 li, ul.tabs li{padding: 0px 8px;}
		.social-icons a {margin: 0 10px 0 0;}
		.tpcrn-soc-counter li {width: 98px;}
		
		.breaking-ticker,#header-banner468{display:none;}
	 
	 }
	 

	 
	 

	
	
/* #Tablet (Portrait)
================================================== */

    /* Note: Design for a width of 768px */

    @media only screen and (min-width: 768px) and (max-width: 959px) {
        .container                                  { width: 768px; }
      
        .column.alpha, .columns.alpha               { margin-left: 0; margin-right: 10px; }
        .column.omega, .columns.omega               { margin-right: 0; margin-left: 10px; }
        .alpha.omega                                { margin-left: 0; margin-right: 0; }

        .container .one.column,
        .container .one.columns                     { width: 28px; }
        .container .two.columns                     { width: 76px; }
        .container .three.columns                   { width: 124px; }
        .container .four.columns                    { width: 172px; }
        .container .five.columns                    { width: 220px; }
        .container .six.columns                     { width: 268px; }
        .container .seven.columns                   { width: 316px; }
        .container .eight.columns                   { width: 364px; }
        .container .nine.columns                    { width: 412px; }
        .container .ten.columns                     { width: 460px; }
        .container .eleven.columns                  { width: 704px; }
        .container .twelve.columns                  { width: 556px; }
        .container .thirteen.columns                { width: 604px; }
        .container .fourteen.columns                { width: 652px; }
        .container .fifteen.columns                 { width: 700px; }
        .container .sixteen.columns                 { width: 748px; }

        .container .one-third.column                { width: 330px; }
        .container .two-thirds.column               { width: 492px; }

 
		#catmenu{display:block;}
	    #catnav select,.menu-last{display:none;}
		.list-block{width:55%;}
		.sb-post-list-title{width:58%;}
 		#sidebar {width:100%;}
		 
		.breaking-ticker{display:none;}#logo {float:none;}
    }


/*  #Mobile (Portrait)
================================================== */

    /* Note: Design for a width of 320px */

    @media only screen and (max-width: 767px) {
        .container { width: 100%; }
        .container .columns,
        .container .column { margin: 0; }

        .container .one.column,
        .container .one.columns,
        .container .two.columns,
        .container .three.columns,
        .container .four.columns,
        .container .five.columns,
        .container .six.columns,
        .container .seven.columns,
        .container .eight.columns,
        .container .nine.columns,
        .container .ten.columns,
        .container .eleven.columns,
        .container .twelve.columns,
        .container .thirteen.columns,
        .container .fourteen.columns,
        .container .fifteen.columns,
        .container .sixteen.columns,
        .container .one-third.column,
        .container .two-thirds.column  { width: 100%; }

        /* Offsets */
        .container .offset-by-one,
        .container .offset-by-two,
        .container .offset-by-three,
        .container .offset-by-four,
        .container .offset-by-five,
        .container .offset-by-six,
        .container .offset-by-seven,
        .container .offset-by-eight,
        .container .offset-by-nine,
        .container .offset-by-ten,
        .container .offset-by-eleven,
        .container .offset-by-twelve,
        .container .offset-by-thirteen,
        .container .offset-by-fourteen,
        .container .offset-by-fifteen { padding-left: 0; }
		#catmenu {display:none;}
		#tp-section-wrap { padding:0 10px;}
		#catnav select{display:block;}
		.fluid_container,.featured-cat-top{width:100%;}
		.breaking-ticker,.menu-last{display:none;}
		.full-left{width:100%;}
		.post-box-left {width:100%;}
		.magbig-thumb {position: relative;margin-right:0px;height: 180px;width: 100%;}
		.list-block {width:100%;padding:10px 0; }
		.full-right {width: 100%;}
		.camera_caption {display:none!important;}
		.camera_wrap img {max-width: none!important;width:auto!important;}
		#tp-site-wrap-container {margin: 0 2px;}
		.blog-lists.one-half.column.first, .blog-lists.one-half.column.second{width:100%;padding:0;}
 
	.tpcrn-shr-post {height: 90px;}
 	.tpcrn-shr-post li {height: 31px;width: 110px !important;}
 	.previous,.next {width: 42.7%;}#logo {float:none;}
	#header-banner468{display:none;}
	#sidebar,#tp-section-left{border:none;}
	ul.tabs2 li, ul.tabs li{width:26%;}
	.singlenavig-prev-span,.singlenavig-next-span{width:42%;}
    }


/* #Mobile (Landscape)
================================================== */

    /* Note: Design for a width of 480px */

    @media only screen and (min-width: 480px) and (max-width: 767px) {
        .container { width: 100%; }
        .container .columns,
        .container .column { margin: 0; }

        .container .one.column,
        .container .one.columns,
        .container .two.columns,
        .container .three.columns,
        .container .four.columns,
        .container .five.columns,
        .container .six.columns,
        .container .seven.columns,
        .container .eight.columns,
        .container .nine.columns,
        .container .ten.columns,
        .container .eleven.columns,
        .container .twelve.columns,
        .container .thirteen.columns,
        .container .fourteen.columns,
        .container .fifteen.columns,
        .container .sixteen.columns,
        .container .one-third.column,
        .container .two-thirds.column { width:100%; }
		#tp-section-wrap { padding:20px;}
		.fluid_container,.featured-cat-top{width:100%;}
		#catmenu {display:none;}
		#catnav select{display:block;}
		.breaking-ticker,.menu-last{display:none;}
		.post-box-left{width:47%;}
		.post-box-left .magbig-thumb {width:100%;}
		.magbig-thumb {position: relative;margin-right:0px;height: 180px;width: 45%;}
		.list-block {width:50%;padding: 0 0 0 20px;}
		.full-left,.full-right {width: 100%;}
		.camera_caption {display:none!important;}
		.camera_wrap img {max-width: none!important;width:auto!important;}
		.blog-lists.one-half.column.first, .blog-lists.one-half.column.second{width:45%;padding-right: 15px;}
		.blog-lists.one-half.column.second {padding: 0 0 0 15px;}
 
		.sb-post-thumbnail {width: 50px;height: 50px;}
		.tpcrn_magazine_singlethumb .blog-list-small .blog-lists-title{width:88%;}
		.tpcrn-shr-post span.head{display:block;}
		#header-banner468{display:none;}
		#sidebar,#tp-section-left{border:none;}
		ul.tabs2 li, ul.tabs li{width:29%;}
		.singlenavig-prev-span,.singlenavig-next-span{width:62%;}
    }


/* #Clearing
================================================== */

    /* Self Clearing Goodness */
    .container:after { content: "\0020"; display: block; height: 0; clear: both; visibility: hidden; }

    /* Use clearfix class on parent to clear nested columns,
    or wrap each row of columns in a <div class="row"> */
    .clearfix:before,
    .clearfix:after,
    .row:before,
    .row:after {
      content: '\0020';
      display: block;
      overflow: hidden;
      visibility: hidden;
      width: 0;
      height: 0; }
    .row:after,
    .clearfix:after {
      clear: both; }
    

    /* You can also use a <br class="clear" /> to clear columns */
    .clear {
      clear: both;
      display: block;
      overflow: hidden;
      visibility: hidden;
      width: 0;
      height: 0;
    }

