#tp-site-wrap,#footer-blocks {border-top: 4px solid #684F19;}
.subsform input[type="submit"], input[type="submit"]{ border: 1px solid #684F19;background: #684F19;}
.tpcrn-shr-post span.head,
#infinite-handle span  ,
#catnav.secondary .menu-home a,.sb-icon-search,#catnav.teritary,#catnav.secondary ul li.current-menu-item, #catnav.secondary >ul >li a:hover ,
#catnav ul li.dropme a ,.ticker-title,.social-top,
.pagination .current ,.pagination a, .page-numbers.dots,.sb-search.sb-search-open .sb-icon-search{background: #684F19;}
.blog-lists-blog h3 a:hover,.singlenavig .arrow,.tabs-tp-site-wrap2 ul li.active a,ul.tabs2 li a:hover, ul.tabs li a:hover  {color:#684F19;}
.sb-search-input::-webkit-input-placeholder{color:#684F19;}
.sb-search-input::-moz-placeholder{color:#684F19;}
.sb-search-input:-moz-placeholder{color:#684F19;}
.sb-search-input:-ms-input-placeholder{color:#684F19;}
#commentform input#submit ,.searchform .searchbutton , .subsform .nletterbutton ,input[type="submit"]{background-color: #684F19;border-color: #684F19;}
#commentform input[type="text"]:focus, #commentforminput[type="email"]:focus, #commentform textarea:focus,.subsform .subsfield:focus,.searchform .searchfield:focus{border: 1px solid #684F19;box-shadow: 0 0 7px #684F19;
}
